body{
  margin: 0 0 0 0;
}

button{
  border-radius: 5%;
}


.porto{
  display: inline-block;
  position: absolute;
  width: 8.5%;
  left: 70px;
  top: 40px;
}

.k{
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: gray;
  top: 20px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 0 0;
}

.k:hover{
  color: gray;
}

#a1{
  left: 792px;
}

#a2{
  left: 805px;
}

#a3{
  left: 822px;
}

#a4{
  left: 839px;
  padding:5px 5px 5px 5px;
  border-style: solid;
  border-radius: 10px;
}

.search{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: -470px;
  left: 1120px;
}

.navbar{
  overflow: hidden;
  background-color: white;
  height: 60px;
  padding-top: 40pX;
  margin-left: 0;
  margin-right: 0px;
  padding-right: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar a{
  float: left;
  font-size: 16px;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown{
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn{
  font-size: 17px;
  border: none;
  outline: none;
  color: #43658b;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar .a:hover, .dropdown:hover .dropbtn {
  background-color: #43658b;
  color: white;

}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5%;
}

.dropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.whale{
  position: absolute;
  display: inline-block;
  margin-top: 0;
  width: 1440px;
  top: 144px;
  opacity: 0.85;
}

.social-media{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  left: 1250px;
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 100%
}

.social-media:hover{
  background-color: lightblue;
  width: 18px;
  height: 18px;

}

#v1{
  top: -412px;
}

#v2{
  top: -410px;
}

#v3{
  top: -410px;
}

.split-right, .split-left{
  position: relative;
  display: inline-block;
  opacity: 0.8;
  height: 380px;
  width: 500px;
  top: 54px;
  margin-left: auto;
  margin-right: auto;
  left: 215px;
}

.split-left{
  background-color: white;
  opacity: 0.7;
  left: 100px;
}

.split-right{

}

.split{
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.left{
  left: 0;
}

.right{
  right: 0;

}

.centered{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

form{
  position: relative;
  display: inline-block;
  opacity: 1;
}

#w1{
  line-height: 0.01rem;
  padding-top: 2px;
  margin-top: 2px;
  top: -54px;
  left: 100px;
}

#w2{
  left:
}

.x1{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 17px;
  color: #d6e0f0;

}

.x2{
  font-family: 'Archivo Black', sans-serif;
  font-size: 55px;
  color: white;
}

.x3{
  font-size: 17px;
  color: #d6e0f0;
}

.q1{
  position: relative;
  left: -155px;
  font-size: 30px;
  top: -10px;
}

.q2{
  position: relative;
  left: -120px;
  top: -20px;
}

.q3{
  position: relative;
  left: 22px;
  top: -20px;
}

.q4{
  position: relative;
  left: -50px;
  top: -18px;
}

.q5{
  position: relative;
  top: -18px;
}

.q6{
  position: relative;
  left: -197px;
  top: -20px;
}

.q7{
  position: relative;
  left: -24px;
  height: 60px;
  width: 386px;
  top: -18px;
  resize: none;
}

.q8{
  position: relative;
  left: -177px;
  top: -20px;
}

.q9{
  position: relative;
  left: -24px;
  height: 60px;
  width: 386px;
  top: -18px;
  resize: none;
}

.btn{
  position: relative;
  left: -165px;
  top: -20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  border: 0px;
  background-color: #a2d5f2;
  color: #07689f;
}

.btn:hover{
  color: white;
  background-color: #07689f;
}

.useless{
  position: absolute;
  width: 1440px;
  height: 100px;
  top: 607px;
  opacity: 0.85;
  background-color: black;
}

.fi{
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-family: 'Nanum Gothic', sans-serif;
  color: white;
  opacity: 0.8;
  top: -100px;
}

.se{
  position: relative;
  display: inline-block;
  color: gray;
  opacity: 0.8;
  left: -100px;
}

.dif{
  font-family: 'Gloria Hallelujah', cursive;
  color: #4e89ae;
  font-style: italic;
}

.batın{
  position: relative;
  display: inline-block;
  left: -100px;
  top: -100px;
}
