body{
  background: url(a1.jpg) no-repeat center fixed;
  background-size: cover;
  margin-top: 0;
  margin-left: 0;
}

.toppest{
  width: 1440px;
  height: 120px;
  background-color: gray;
  opacity: 0.3;
  position: absolute;
}

.lologo{
  position: relative;
  display: inline-block;
  top: 10px;
  left: 50px;
  width: 7%;
}

.w1{
  position: relative;
  display: inline-block;
  top: -45px;
  left: 48px;
  font-size: 30px;
  font-family: 'Lobster', cursive;
  color: #ed6663;
  letter-spacing: 0.3rem;
}

.w2{
  position: relative;
  display: inline-block;
  top: -7px;
  left: -120px;
  font-size: 13px;
  font-family: 'Abel', sans-serif;
  color: #8d93ab;
  letter-spacing: 0.2rem;
}

.z{
  position: relative;
  display: inline-block;
  top: -45px;
  color: black;
  font-size: 18px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #f6f6f6;
}

#z1{
  left: 150px;
}

#z2{
  left: 190px;
}

#z3{
  left: 230px;
}

#z4{
  left: 260px;
}

#z5{
  left: 300px;
}

.x1{
  position: relative;
  display: inline-block;
  top: -23px;
  left: -256px;
  font-size: 1  3px;
  color: gray;
  font-style: italic;
}

.x2{
  position: relative;
  display: inline-block;
  top: -23px;
  left: -222px;
  font-size: 13px;
  color: gray;
  font-style: italic;
}

.x3{
  position: relative;
  display: inline-block;
  top: -23px;
  left: -132px;
  font-size: 13px;
  color: gray;
  font-style: italic;
}

.x4{
  position: relative;
  display: inline-block;
  top: -23px;
  left: -66px;
  font-size: 13px;
  color: gray;
  font-style: italic;
}

.x5{
  position: relative;
  display: inline-block;
  top: -23px;
  left: -5px;
  font-size: 13px;
  color: gray;
  font-style: italic;
}

.flag{
  position: relative;
  display: inline-block;
  top: -19px;
  left: 90px;
  width: 5.5%;
  opacity: 0.7;
}

.search{
  position: relative;
  display: inline-block;
  top: -28px;
  left: 120px;
  width: 2%;

}

.header{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 17px;
  font-family: 'Krona One', sans-serif;
  font-size: 40px;
}

hr{
  border-style: solid none none;
  border-color: black;
  border-width: 5px;
  border-spacing: 3px;
  width: 20%;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}

.c1{
  margin-bottom: 5px;
}

.c2{
  margin-top: 5px;
}

.midder{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: gray;
}

.q{
  display: inline-block relative;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.buttoff{
  display: inline-block relative;
  justify-content: center;
  align-items: center;
  height: 25px;
  left: 30px;
  padding: 10px;
}

.buttoff:hover{
  background-color: #ffa372;
  border: 0;
}

.b{
  border: 0px;
}

.b:hover{
  background-color: #ffa372;
  border: 0;
}

#of1{

}

#of2{

}

.t{
  padding-left: 2px;
  top: -16px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-family: 'Hanuman', serif;
  font-size: 18px;
  padding-right: 5px;
}

.phone{
  position: relative;
  display: block;
  top: 68px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
}



.split{
  height: 100%;
  width: 33%;
  position: fixed;
  z-index: 1;
  top: 100;
  overflow: hidden;
  padding-top: 5;
}

.left{
  left: 0;
}

.right{
  right: 0;
}

.middle{
}

.g{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  }

.g:hover{
  background-color: #ffa372;
}

  .split-left{
    float: left;
    width: 25%;
    height: 300px;
  }

  .split-middle{
    float: left;
    width: 50%;
    height: 300px;
  }

  .split-right{
    float: right;
    width: 25%;
    height: 300px;
  }

  #f1{
    height: 60px;
    width: 60px;
    border: black;
    border-style: solid;
    transform: rotate(45deg);
    float: left;
    left: 230px;
    top: 440px;
    background-color: #e89f71;
  }

  #f2{
    height: 60px;
    width: 60px;
    border: black;
    border-style: solid;
    transform: rotate(45deg);
    float: left;
    left: 230px;
    top: 560px;
    background-color: #e89f71;
  }

  #f3{
    height: 60px;
    width: 60px;
    border: black;
    border-style: solid;
    transform: rotate(45deg);
    float: left;
    left: 230px;
    top: 680px;
    background-color: #e89f71;
  }

  #f4{
    height: 60px;
    width: 60px;
    border: black;
    border-style: solid;
    transform: rotate(45deg);
    float: left;
    left: 1125px;
    top: 440px;
    background-color: #e89f71;
  }

  #f5{
    height: 60px;
    width: 60px;
    border: black;
    border-style: solid;
    transform: rotate(45deg);
    float: left;
    left: 1125px;
    top: 560px;
    background-color: #e89f71;
  }

  #f6{
    height: 60px;
    width: 60px;
    border: black;
    border-style: solid;
    transform: rotate(45deg);
    float: left;
    left: 1125px;
    top: 680px;
    background-color: #e89f71;
  }

  .k1{
    position: relative;
    display: inline-block;
    left: 300px;
    top: 40px;
    width: 270px;
  }

  .k2{
    position: relative;
    display: inline-block;
    left: 300px;
    top: 50px;
    width: 270px;
  }

  .k3{
    position: relative;
    display: inline-block;
    left: 350px;
    top: 65px;
    width: 270px;
  }

  .k4{
    position: relative;
    display: inline-block;
    left: -300px;
    top: 40px;
    width: 270px;
  }

  .k5{
    position: relative;
    display: inline-block;
    left: -300px;
    top: 50px;
    width: 270px;
  }

  .k6{
    position: relative;
    display: inline-block;
    left: -250px;
    top: 60px;
    width: 270px;
  }
  p{
    font-weight: bolder;
  }

  .fonito{
    position: relative;
    display: inline-block;
    top: 25px;
    left: 241.5px;
    width: 12%;
  }

  .lapotipo{
    position: relative;
    display: inline-block;
    top: 44px;
    left: 240.5px;
    width: 12%;
  }

  .appli{
    position: relative;
    display: inline-block;
    top: 60px;
    left: -35px;
    width: 12%;
  }

  .star{
    position: relative;
    display: inline-block;
    top: 25px;
    left: 62px;
    width: 12%;
  }

  .fly{
    position: relative;
    display: inline-block;
    top: 44px;
    left: 55px;
    width: 12%;
  }

  .support{
    position: relative;
    display: inline-block;
    top: 60px;
    left: -210px;
    width: 12%;
  }

    .n{
      color: #white;
      text-shadow: white 0px 0px 15px; 
  }
